.container {
  background-color: #BCE3C9;
  border-radius: var(--bd-radius);
  overflow: hidden;
  padding: 1.25rem;
  max-width: 16.25rem;
  
}

.container > * {
  max-width: 16.25rem;
}
/* .productimg{
  width: 10rem;
  border-radius: 1rem;
} */