
.container {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: flex-end;
  width: 119.93rem;
  height: 6.06rem;
}
.searchBar_div {
  color:blue;

}
.Input{
  width:43.75rem;
  height:3.12rem;
  top:2.75rem;
  left:28.37rem;
  border-radius: 5px;
}

.icon_container {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
