.footer {
    width: 100%;
    padding-block: 1.5rem;
    position: relative;

}
.footer_box{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.3fr repeat(2,1fr) 3fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;

}
.footer_social{
    display: flex;
    gap: 1.3rem;
    font-size: 2rem;
    align-items: center;
}
.footer_social a{
    padding: .2rem;
    border-radius: 50%;
    transition: all .3s ease-in;
    display: grid;  
}
.footer_social a:hover{
    background-color: aliceblue;
    color: brown;
    box-shadow: .2rem;
}
.subcribe_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: rgb(43, 226, 156);
    color: rgb(46, 42, 165);
    border-radius: 5rem;
    margin-top: 3rem;
}
.subcribe_box input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
    color: rgb(12, 12, 11);
}
.subcribe_box input::placeholder{
    color: black;
}
.subcribe_box_send{
    cursor: pointer;
    font-size: 2rem; 
}
.subcribe_box_info{
    padding: 1rem 2rem;

}
@media screen and (max-width: 45em){
    .footer_box{
        width: 90%;
        grid-template-columns: 1fr 2fr ;
    }
    
}

@media screen and (max-width: 35em){
    .footer_box{
        width: 90%;
        grid-template-columns: 1fr  ;
    }
    
}