$brandcolor1: #81813d;
$brand-color2: #fdc040;
$brand1: #5b9d34;
$Primary-color: #46bcf2;
$Success-color: #16c79a;
$danger-color: #ef4f4f;
$Warning-color: #f6c065;
$Info-color: #008891;
$Text-heading: #1b1b1b;
$text-body: #7e7e7e;
$Scale1: #5b9d34;
$Scale2: #3a882b;
$Scale3: #227226;
$Scale4: #1a5d2c;
