.container {
  height: 597px;
  width: 895px;
  left: 874px;
  top: 218px;
  border-radius: 0px;
  
  display: flex;
  /* position: relative; */
  background-image: url('https://s3-alpha-sig.figma.com/img/1ea8/07d3/43574d8cd78a0c10a2c78878852dc8b3?Expires=1678060800&Signature=lxRuPQXIDR1vrNV9fZHoYQAhf3hfX3MwDneTb0B6T4t6hcvYKzrZxvuNqXbPMJRYIZegaKpXE4BMtSL6rKgX4VIndLj35spdzdnPTzRXKJjlzYGHlM-msPxoANg2Gw1fxesH8NC3DFqZjMdk2cSyGvebRz0TdUp3NxDsD-4N3z7LSbaRSzdVaXu67pUH6HTWZRv8Uf5r~zYqO6MR21s8x2b5oYhwZsfR158HUs7flZ3w6Z6XqvG6AJuZYJovOWm0GOSoprpGOuSzKjZBZcqTe3D95bPaz4VIooKmlWRfv6s-TZEAUkrE~beEJGLMNd6INWr6lSPpIlxHs8~DPmZp~g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  
}
.info {
  /* position: absolute; */
  height: 161px;
  width: 727px;
  left: 265px;
  top: 334px;
  border-radius: nullpx;
  
 
 
}
.heroimg{
  /* postion: absolute; */
  height: 597px;
  width: 895px;
  left: 874px;
  top: 218px;
  border-radius: 0px;
  

}